/* Mobile First CSS */

html {
  background-color:#2d2e2f;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html, body {
  margin:0;
  padding:0;
}

.searchbar {
  justify-self: end;

  /* Style the searchbar in stunning dark mode */
  background-color: #2d2e2f;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #111;
  width: 20em;
  margin-right: 10px;
}

.searchbar:hover {
  border: 2px solid #1a92e8;
}

.nav {
  display : flex;
  justify-content: start;
  align-items : center;
  background-color: #18191a; 
  border-bottom: 0.1em solid #a5f1b2;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 3em;
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  border-color: black;
}

/* Right align buttons in navbar */
.nav-button-group {
  margin-right: auto;
}

.site-content {
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 3%;
  padding-right: 3%;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.nav-link {
  color: #666;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

.component {
  box-shadow: 0 0 3px #1a92e8;  
  background-color: #242526;
  border-radius: 8px;
  padding: 0.2em 0.4em;
  margin-bottom: 1em;
  padding-bottom: 0.8em;
}

.italic 
{
  font-style: italic;
}

.hidden 
{
  display: none;
}

.invisible 
{
  opacity: 0
}

.button {
  background-color: #111;
  border: 1px solid #999;
}

.button.left {
  border-radius: 6px 0 0 6px;
}

.button.right {
  border-radius: 0 6px 6px 0;
}

.button.active {
  background-color: #4d2659;
}

button, .no-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.indent {
  padding-left: 1em;
}

/**
* prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
* Based on https://github.com/chriskempson/tomorrow-theme
*
* @author Rose Pritchard
*/

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
padding-top: 1em;
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.type
{
  color: white;
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin,
.token.boolean,
.token.float,
.token.number,
.token.integer {
  color: #cc99cd;
}

.token.boolean {
  color: #387bc7
}

.token.unknown,
.token.array,
.token.object {
  color: #e05b43
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.none {
  color: white;
}

/* Table */

table {
  border-collapse: collapse;
}

table {
  margin-top: 4px;
  display: block;
  width: auto !important;
  max-width: 100%;
  overflow-x: auto;
}

th,
td {
  border-style: solid;
  border-width: 1px;
  padding: 6px;
}

tbody,
th,
td {
  border-color: #656e73;
}

th {
  background-color: #a5f1b2;
}
td {
  background-color: #ddfbdd;
}

/* Desktop */
@media (min-width: 600px) {
  .site-content {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 15%;
  }

  html {
    font-size: 16px;
  }

  .indent {
    padding-left: 2em;
  }
}
