<!DOCTYPE html>
<html>
  <head class="">
    <title>Component Test</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="nav">
      
      <input type="text" id="searchbar" onkeyup="filter()"  class="searchbar" placeholder="Search..">
      <p id="counter">
        10
      </p>
      <button class="collapse" onclick="collapseAll()">
        Collapse
      </button>

      <div class="nav-button-group">
        <div class="nav-item">
          <a href="https://discord.gg/XjV87YN" class="nav-link">Discord</a>
        </div>
        <div class="nav-item">
          <a href="https://github.com/SirLich/bedrock-schema-docs" class="nav-link">GitHub</a>
        </div>
      </div>
    </div>
    <gen/>
    <script class="" src="index.js"></script>
  </body>
</html>
